DistributedSystemsLabs/lab_7/wsClient/xml-resources/web-service-references/webService/wsdl/localhost_8080/WebApp/webService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="webService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/WebApp/webService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="add2Numbers">
<part name="parameters" element="tns:add2Numbers"/>
</message>
<message name="add2NumbersResponse">
<part name="parameters" element="tns:add2NumbersResponse"/>
</message>
<message name="doMaths">
<part name="parameters" element="tns:doMaths"/>
</message>
<message name="doMathsResponse">
<part name="parameters" element="tns:doMathsResponse"/>
</message>
<portType name="webService">
<operation name="hello">
<input wsam:Action="http://webService/webService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/webService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="add2Numbers">
<input wsam:Action="http://webService/webService/add2NumbersRequest" message="tns:add2Numbers"/>
<output wsam:Action="http://webService/webService/add2NumbersResponse" message="tns:add2NumbersResponse"/>
</operation>
<operation name="doMaths">
<input wsam:Action="http://webService/webService/doMathsRequest" message="tns:doMaths"/>
<output wsam:Action="http://webService/webService/doMathsResponse" message="tns:doMathsResponse"/>
</operation>
</portType>
<binding name="webServicePortBinding" type="tns:webService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add2Numbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doMaths">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="webService">
<port name="webServicePort" binding="tns:webServicePortBinding">
<soap:address location="http://localhost:8080/WebApp/webService"/>
</port>
</service>
</definitions>