DistributedSystemsLabs/15155528/src/META-INF/wsdl/10.100.106.30_8080/hangmanWebService/hangman.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hangman/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hangman/" name="hangman">
<types>
<xsd:schema>
<xsd:import namespace="http://hangman/" schemaLocation="http://10.100.106.30:8080/hangmanWebService/hangman?xsd=1"/>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="newGame">
<part name="parameters" element="tns:newGame"/>
</message>
<message name="newGameResponse">
<part name="parameters" element="tns:newGameResponse"/>
</message>
<message name="getRandomWord">
<part name="parameters" element="tns:getRandomWord"/>
</message>
<message name="getRandomWordResponse">
<part name="parameters" element="tns:getRandomWordResponse"/>
</message>
<message name="getWord">
<part name="parameters" element="tns:getWord"/>
</message>
<message name="getWordResponse">
<part name="parameters" element="tns:getWordResponse"/>
</message>
<message name="addGuess">
<part name="parameters" element="tns:addGuess"/>
</message>
<message name="addGuessResponse">
<part name="parameters" element="tns:addGuessResponse"/>
</message>
<message name="guessesUsed">
<part name="parameters" element="tns:guessesUsed"/>
</message>
<message name="guessesUsedResponse">
<part name="parameters" element="tns:guessesUsedResponse"/>
</message>
<portType name="Hangman">
<operation name="registerUser">
<input wsam:Action="http://hangman/Hangman/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://hangman/Hangman/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://hangman/Hangman/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://hangman/Hangman/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="newGame">
<input wsam:Action="http://hangman/Hangman/newGameRequest" message="tns:newGame"/>
<output wsam:Action="http://hangman/Hangman/newGameResponse" message="tns:newGameResponse"/>
</operation>
<operation name="getRandomWord">
<input wsam:Action="http://hangman/Hangman/getRandomWordRequest" message="tns:getRandomWord"/>
<output wsam:Action="http://hangman/Hangman/getRandomWordResponse" message="tns:getRandomWordResponse"/>
</operation>
<operation name="getWord">
<input wsam:Action="http://hangman/Hangman/getWordRequest" message="tns:getWord"/>
<output wsam:Action="http://hangman/Hangman/getWordResponse" message="tns:getWordResponse"/>
</operation>
<operation name="addGuess">
<input wsam:Action="http://hangman/Hangman/addGuessRequest" message="tns:addGuess"/>
<output wsam:Action="http://hangman/Hangman/addGuessResponse" message="tns:addGuessResponse"/>
</operation>
<operation name="guessesUsed">
<input wsam:Action="http://hangman/Hangman/guessesUsedRequest" message="tns:guessesUsed"/>
<output wsam:Action="http://hangman/Hangman/guessesUsedResponse" message="tns:guessesUsedResponse"/>
</operation>
</portType>
<binding name="HangmanPortBinding" type="tns:Hangman">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRandomWord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addGuess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guessesUsed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="hangman">
<port name="HangmanPort" binding="tns:HangmanPortBinding">
<soap:address location="http://10.100.106.30:8080/hangmanWebService/hangman"/>
</port>
</service>
</definitions>